.titulo{
    background-color: rgb(110, 202, 106);
    color: black;
    font-size: 24px;
    text-align: center;
}

.usuarioPedido{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.senhaPedido{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    color:black;
    background-color: rgb(214, 214, 214);
    font-size: 16px;
    text-align: center;
    text-decoration: rgb(0, 255, 55);
}

.botao{
    font-size: 16px;
}